/node_modules
/*.log
/dist
/dist-zip

manifest.json
manifest.js

datetime*

# IDE
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env.local
.env.*.local

# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Backpack build
build
*.zip

.DS_Store
*.txt
junit.xml
